.popup-form__form {
    width: 350px;
    height: 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup-form__form {
    width: 95%    
    }
}
