.popup-form__input {
    width: 350px;
    height: 56px;
    border: none;
    margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup-form__input {
    width: 95%    
    }
}
